.colorRegister {
  width: 100%;
  background-color: #ffffff;
  height: 90px;
  outline: 2px solid #000000;
  box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.colorRegisterContents {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%;
}

.colorAndUsername {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 92px;
  column-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.buttonDiv {
  height: 50px;
}

@media (max-width: 769px) {
  .colorRegister {
    height: 164px;
  }

  .colorRegisterContents {
    margin-bottom: 20px;
  }

  .buttonDiv {
    padding: 0 1px;
    width: 100%;
  }

  .colorAndUsername {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .buttonDiv {
    height: 40px;
  }

  .colorAndUsername {
    height: 82px;
  }

  .colorRegister {
    height: 147px;
  }
}
